body {
    height: 100vh; 
    width: 100vw;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* -------------------------------------------------------- */
/* STYLES REGARDLESS OF SCREEN SIZE*/

/* Shared Styles */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}
a, .link {
    text-decoration: none;
    color: #0056D3;
}
a:hover, .link:hover {
    color: #13D300;
}
.centered_text {
    text-align: center;
}
h2 {
    text-align: center;
}
/* Add horizontal lines before and after title text */
.hr-lines{
  position: relative;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}
.hr-lines:before{
  content:" ";
  height: 2px;
  width: 130px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}
.hr-lines:after{
  content:" ";
  height: 2px;
  width: 130px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

/* Add some padding around content sections */
.container {
    padding: 3%;
}

/* Grid used in a couple of places */
.grid-container {
    display: grid;
    padding: 3%;
    gap: 5%;
    margin: auto;
}
.grid-item {
    border-radius: 15px;
    border: 1px solid black;
}
.grid-item img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.grid-item h3 {
    padding: 3%;
    text-align: center;
}

/* Landing Page */
#landing {
    background-image: url('../img/landing_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 3%;
}
#landing h2, h3 {
    color: darkgray;
    text-align: center;
}

/* Don't show overflow text or minimize link by default */
.overflowText {
    display: none;
}
#viewLess {
    display: none;
}

/* About Me section default */
#bio {
    display: inline-block;
    clear: both;
}
#bio img {
    padding: 0;
    margin-left: 10%;
    border-radius: 15px;
}
#me {
    width: 30%;
    padding-left: 10%;
}
#bioText {
    width: 50%;
    float: left;
}

/* Skills Section */
#skills .grid-container {
    grid-template-columns: auto;
    max-width: 60%;
    margin-top: 0px;
}
#skills .grid-item {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Contact Icon/Links (side or bottom fixed) */
#contact p {
	text-align: center;
}
i {
	color: darkgray;
}
i:hover {
	color: #0056D3;
}
.fa {
  	width: 50px;
  	text-align: center;
  	text-decoration: none;
}

/* Footer */
#footer {
    color: grey;
    background-color: black;
    text-align: center;
    padding: 3%;
}


/* -------------------------------------------------------- */
/* SCREEN SIZE SPECIFIC */

/* Extremely small screen devices (600px width and below) */
@media screen and (max-width: 600px) {

    /* Adjust landing page text size */
    #landing h1 {
        font-size: 150%;
        padding-left: 2%;
    }

    /* Profile picture should not appear when screen width <900px */
    #me {
        display: none;
    }
    #bioText {
        width: 100%;
    }
    #bio {
        margin-top: 20%;
    }

    /* Fix contact section to bottom instead of side to save space */
    #contact {
        margin: 0;
        margin-top: 30%;
        background-color: black;
        width: 100%;
        
    }
    #contact i {
        padding: 3%;
    }

    /* Don't display footer on small screens where contact becomes footer */
    #footer {
        display: none;
    }
    
}

/* Small screen devices (600px width and above) */
@media screen and (min-width: 600px) {

    /* Adjust landing page text size */
    #landing h1 {
        font-size: 200%;
    }

    /* Profile picture should not appear when screen width <900px */
    #me {
        display: none;
    }
    #bioText {
        width: 100%;
    }
    #bio {
        margin-top: 10%;
    }

    /* Make Outside of Work Section have 1 column */
    .grid-container {
        grid-template-columns: auto;
    }
    #footer {
        margin-top: 20%;
    }

    /* Fix contact section to left side on screens >600px wide */
    .side-bar {
        width: 10%;
        top: 0;
        bottom: 0;
        position: fixed;
        border: 2px solid black;
        background-color: black;
        padding-top: 8%;
    }
    .main {
        width: 90%;
        margin-left: 10%;
    }
    #contact i {
        padding: 15%;
    }

}

@media screen and (min-width: 900px) {

    /* Profile picture should appear when screen width >900px */
    #me {
        display: inline-block;
    }
    #bioText {
        width: 50%;
    }
    #bio {
        margin-top: 10%;
    }

    /* Make Outside of Work Section have 3 columns*/
    .grid-container {
        grid-template-columns: auto auto auto;
    }
    #footer {
        margin-top: 0;
    }

}

/* Very large screen devices (>1200px width) */
@media screen and (min-width: 1200px) {

    /* Adjust landing page text size */
    #landing h1 {
        font-size: 250%;
    }
    
    /* Adjust margin above bio section */
    #bio {
        margin-top: 0;
    }

    /* Make Outside of Work Section have 3 columns*/
    .grid-container {
        grid-template-columns: auto auto auto;
    }
    #footer {
        margin-top: 0;
    }


    /* Keep contact icons in the view */
    .side-bar {
        padding-top: 5%;
    }

    /* Keep contact icons in a single stack */
    #contact i {
        padding-top: 3%;
        padding-left: 17%;
        padding-right: 17%;
    }

}
